@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background : radial-gradient(circle, rgb(12,45,44) 5%,rgb(8, 42, 41), rgb(0, 0, 0) 99%);
    padding: 20px 0px 0px 0px;
    font-family: 'Poppins', sans-serif;
}
.container{
   /* height: 661px;
    width: 1366px; */
    background : radial-gradient(circle, rgb(12,45,44) 5%,rgb(8, 42, 41), rgb(0, 0, 0) 99%);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 35px;
    overflow: hidden;
}
nav{
    display: flex;
    gap: 25px;
    font-size: 20px;
    margin-bottom: 50px;
}

button{
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.top-name{
    margin-right: 700px;
    margin-left: 20px;
    font-size: 15px;
}
.name{
    width: 100vw;
    height: 70vh;
    display: flex;
    font-size: 120px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#welcome{
    font-size: 30px;
    margin-bottom: 10px;
}
#developer{
    font-size: 20px;
}
.sections{
    display: flex;
    gap: 60px;
    margin: 40px 60px;
}
.about-content{
    /* margin-left: 60px; */
    display: flex;
    flex-direction: column;
    width: 60vw;
}
.material{
    font-size: 25px;
}

#about-heading{
    margin-bottom: 30px;
}
.heading{
    font-size: 50px;
    color: white;
}
.content{
    display: flex;
    flex-direction: column;
}
.photo{
    margin-top: 100px;
}
.photo img{
    width: 300px;
    height: 300px;
    border-radius: 10%;
}
#skillsection{
    flex-direction: column;
    gap: 80px;
}
.skillset{
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: grey;
    color: black;
    width: 180px;
    height: 80px;
    border-radius: 40px;
    font-size: 35px;
    padding: 5px;
    margin-right: 200px;
    box-shadow: 5px 5px 5px black;
}
.skill:hover{
    background-color: rgb(207, 207, 207);
    color: rgb(10,43,42);
    font-size: 38px;
    box-shadow: 5px 5px 5px grey;
    transform: scale(1.1);
    transition: 0.3s all ease-in-out;
}
#contactsection{
    flex-direction: column;
}
.contacts-wrapper{
    display: flex;
    gap: 100px;
    margin-bottom: 50px;
    justify-content: center;
}
.contacts{
    border: 2px solid white;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px grey;
    text-decoration: none;
}
.contacts a i{
    text-decoration: none !important;
}
.fab .far{  
    background-color: none !important;
    color: none !important;
}
a, i{
    background-color: none !important;
    color: none !important;
    text-decoration: none !important;
}
.contacts:hover{
    outline: 1px solid white;
    box-shadow: 3px 2px 5px white;
    transform: scale(1.1);
    transition: 0.2s all ease-in-out;
    
}
footer{
    width: 100vw;
    height: 50px;
    color: black;
    background-color: rgb(83, 83, 83);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    font-size: 20px;
}
#projectsection{
    flex-direction: column;
}
.project-heading{
    font-size: 30px;
    color: white;
}
.project{
    border: 2px solid grey;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50vw;
}
.project-button{
    background-color: black;
    color: grey;
    width: 70px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid grey;
    font-size: 20px;
}
.project-button:hover{
    transform: scale(1.1);
}